name: CSharpier check

on:
  pull_request:
    branches: [ main ]

jobs:
  csharpier:
    name: CSharpier
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'

      - name: Install CSharpier (global)
        run: dotnet tool install -g csharpier --version 0.28.2

      - name: Add dotnet global tools to PATH
        run: echo "$HOME/.dotnet/tools" >> $GITHUB_PATH

      - name: Run CSharpier (check only)
        run: csharpier --check "**/*.cs"